@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #2B4CD2;
  --primary-hover: #203ba7;
  --secondary: #A2A1A8,
  --gray:#030303;
  --sidebar-primary: #DCFAFF;
  --sidebar-hover: #D0EDF9;
  --red-logout: #EC8383;
  --red-logout-hover: #E75F60;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --primary: var(--primary);
    --primary-foreground: 0 0% 98%;
    --secondary: var(--secondary);
    --secondary-foreground: 0 0% 9%;
    --border: 0 0% 89.8%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
